In [256]:
import pandas as pd

In [257]:
#loading data

data_BIS = pd.read_csv("C:/Users/Bumho/Documents/Keumkamwon/data/data_BIS.csv", encoding = "UTF-8")
data_Yeoshin = pd.read_csv("C:/Users/Bumho/Documents/Keumkamwon/data/data_Yeoshin.csv", encoding = "UTF-8")
data_ROA = pd.read_csv("C:/Users/Bumho/Documents/Keumkamwon/data/data_ROA.csv", encoding = "UTF-8")
data_self = pd.read_csv("C:/Users/Bumho/Documents/Keumkamwon/data/data_self.csv", encoding = "UTF-8")

data_BIS = data_BIS.rename(columns = {'a' : 'BIS'})
data_Yeoshin = data_Yeoshin.rename(columns = {'a' : 'Yeoshin'})
data_ROA = data_ROA.rename(columns = {'a' : 'ROA'})
data_self = data_self.rename(columns = {'a' : 'self'})

In [258]:
#merging two dataframes

record_id_BIS = []
record_id_Yeoshin = []
record_id_ROA = []
record_id_self = []

for i in range(data_BIS.shape[0]):
    record_id_BIS.append(str(data_BIS.iloc[i]['finance_cd']) + ' ' + str(data_BIS.iloc[i]['base_month']))

for i in range(data_Yeoshin.shape[0]):
    record_id_Yeoshin.append(str(data_Yeoshin.iloc[i]['finance_cd']) + ' ' + str(data_Yeoshin.iloc[i]['base_month']))

for i in range(data_ROA.shape[0]):
    record_id_ROA.append(str(data_ROA.iloc[i]['finance_cd']) + ' ' + str(data_ROA.iloc[i]['base_month']))    
    
for i in range(data_self.shape[0]):
    record_id_self.append(str(data_self.iloc[i]['finance_cd']) + ' ' + str(data_self.iloc[i]['base_month']))    
    
    
data_BIS['record_id'] = record_id_BIS
data_Yeoshin['record_id'] = record_id_Yeoshin
data_ROA['record_id'] = record_id_ROA
data_self['record_id'] = record_id_self

Merged_BIS_Yeoshin = pd.merge(data_BIS, data_Yeoshin, how="inner", left_on = "record_id", right_on = "record_id")
Merge_3 = pd.merge(Merged_BIS_Yeoshin, data_ROA, how="inner", left_on = "record_id", right_on = "record_id")
Merge_4 = pd.merge(Merge_3, data_self, how="inner", left_on = "record_id", right_on = "record_id")

Merge_4 = Merge_4[['base_month_x', 'finance_cd_x', 'finance_nm_x', 'BIS', 'Yeoshin', 'ROA', 'self']]
Merge_4 = Merge_4.ix[:,[0,2,4,6,7,8,9]]

'''
# delete March, September
check_month = []

for i in range(Merge_4.shape[0]):
    if Merge_4.iloc[i]['base_month_x'].split(" ")[0] == "3" or Merge_4.iloc[i]['base_month_x'].split(" ")[0] == "9":
        check_month.append(i)

deleted_Merge_4 = Merge_4.drop(check_month, 0)
'''
# make month, year
month=[]
year=[]
for i in range(Merge_4.shape[0]):
    month.append(int(Merge_4.iloc[i]['base_month_x'].split(" ")[0]))
    year.append(int(Merge_4.iloc[i]['base_month_x'].split(" ")[1]))
Merge_4['month'] = month
Merge_4['year'] = year



# sort by company, date

#change attribute's type to float64
sorted_Merge_4['BIS'] = sorted_Merge_4['BIS'].apply(pd.to_numeric)
sorted_Merge_4['Yeoshin'] = sorted_Merge_4['Yeoshin'].apply(pd.to_numeric)
sorted_Merge_4['ROA'] = sorted_Merge_4['ROA'].apply(pd.to_numeric)
sorted_Merge_4['self'] = sorted_Merge_4['self'].apply(pd.to_numeric)


sorted_Merge_4 = Merge_4.sort_values(['finance_cd_x', 'year', 'month'], ascending =[True, True, True])

sorted_Merge_4 = sorted_Merge_4.reset_index(drop = True)

for i in range(100000):
    if i<sorted_Merge_4.shape[0]-1:
    
        if sorted_Merge_4.iloc[i+1]['finance_cd_x'] == sorted_Merge_4.iloc[i]['finance_cd_x']:
            if sorted_Merge_4.iloc[i+1]['month'] == 12 and sorted_Merge_4.iloc[i]['month'] == 6:
                month = 9
                year = sorted_Merge_4.iloc[i]['year']
                finance_cd_x = sorted_Merge_4.iloc[i+1]['finance_cd_x']
                finance_nm_x = sorted_Merge_4.iloc[i+1]['finance_nm_x']
                base_month_x = str(month) + " " + str(year)
                BIS = 0.5 * (sorted_Merge_4.iloc[i]['BIS'] + sorted_Merge_4.iloc[i+1]['BIS'])
                Yeoshin = 0.5 * (sorted_Merge_4.iloc[i]['Yeoshin'] + sorted_Merge_4.iloc[i+1]['Yeoshin'])
                ROA = 0.5 * (sorted_Merge_4.iloc[i]['ROA'] + sorted_Merge_4.iloc[i+1]['ROA'])
                self = 0.5 * (sorted_Merge_4.iloc[i]['self'] + sorted_Merge_4.iloc[i+1]['self'])

                line = pd.DataFrame({"base_month_x" : base_month_x, "finance_cd_x" : finance_cd_x, "finance_nm_x" : finance_nm_x, "BIS" : BIS, "Yeoshin" : Yeoshin, "ROA" : ROA, "self" : self}, index=[i+1]).reset_index(drop = True)
                sorted_Merge_4 = pd.concat([sorted_Merge_4.iloc[:i+1], line, sorted_Merge_4.iloc[i+1:]])

            if sorted_Merge_4.iloc[i+1]['month'] == 6 and sorted_Merge_4.iloc[i]['month'] == 12:
                month = 3
                year = sorted_Merge_4.iloc[i+1]['year']
                finance_cd_x = sorted_Merge_4.iloc[i+1]['finance_cd_x']
                finance_nm_x = sorted_Merge_4.iloc[i+1]['finance_nm_x']
                base_month_x = str(month) + " " + str(year)
                BIS = 0.5 * (sorted_Merge_4.iloc[i]['BIS'] + sorted_Merge_4.iloc[i+1]['BIS'])
                Yeoshin = 0.5 * (sorted_Merge_4.iloc[i]['Yeoshin'] + sorted_Merge_4.iloc[i+1]['Yeoshin'])
                ROA = 0.5 * (sorted_Merge_4.iloc[i]['ROA'] + sorted_Merge_4.iloc[i+1]['ROA'])
                self = 0.5 * (sorted_Merge_4.iloc[i]['self'] + sorted_Merge_4.iloc[i+1]['self'])

                line = pd.DataFrame({"base_month_x" : base_month_x, "finance_cd_x" : finance_cd_x, "finance_nm_x" : finance_nm_x, "BIS" : BIS, "Yeoshin" : Yeoshin, "ROA" : ROA, "self" : self}, index=[i+1]).reset_index(drop = True)
                sorted_Merge_4 = pd.concat([sorted_Merge_4.iloc[:i+1], line, sorted_Merge_4.iloc[i+1:]])





# make predict variable "weak"
weak = []
for i in range(sorted_Merge_4.shape[0]-2):
    if (sorted_Merge_4.iloc[i+1]['finance_cd_x'] == sorted_Merge_4.iloc[i]['finance_cd_x']) and (sorted_Merge_4.iloc[i+2]['finance_cd_x'] == sorted_Merge_4.iloc[i]['finance_cd_x']):    
        if (float(sorted_Merge_4.iloc[i+1]['self']) < 4) or (float(sorted_Merge_4.iloc[i+2]['self'])< 4):
            weak.append(1)
        else:
            weak.append(0)
    elif sorted_Merge_4.iloc[i+1]['finance_cd_x'] == sorted_Merge_4.iloc[i]['finance_cd_x']:
        if float(sorted_Merge_4.iloc[i+1]['self']) < 4:
            weak.append(1)
        else:
            weak.append(0)
        
                                                                
    else:
        weak.append(2)

if sorted_Merge_4.iloc[sorted_Merge_4.shape[0]-1]['self']<4:
    weak.append(1)
else:
    weak.append(0)
weak.append(2)
sorted_Merge_4['weak'] = weak
final_data = sorted_Merge_4[sorted_Merge_4.weak != 2]




#final_data.to_csv("sorted_data.csv")

In [259]:
final_data

,BIS,ROA,Yeoshin,base_month_x,finance_cd_x,finance_nm_x,month,self,year,weak
0,5.100,-0.080,9.230,12 2003,10345,HK Mutual Savings Bank,12.0,3.270,2003.0,1
0,5.265,0.265,9.580,3 2004,10345,HK Mutual Savings Bank,NaN,3.365,NaN,1
1,5.430,0.610,9.930,6 2004,10345,HK Mutual Savings Bank,6.0,3.460,2004.0,1
0,5.470,0.295,11.115,9 2004.0,10345,HK Mutual Savings Bank,NaN,3.505,NaN,1
2,5.510,-0.020,12.300,12 2004,10345,HK Mutual Savings Bank,12.0,3.550,2004.0,1
0,4.910,-0.945,15.545,3 2005.0,10345,HK Mutual Savings Bank,NaN,2.930,NaN,1
3,4.310,-1.870,18.790,6 2005,10345,HK Mutual Savings Bank,6.0,2.310,2005.0,1
0,3.700,-2.045,23.025,9 2005.0,10345,HK Mutual Savings Bank,NaN,2.000,NaN,1
4,3.090,-2.220,27.260,12 2005,10345,HK Mutual Savings Bank,12.0,1.690,2005.0,1
0,3.430,-2.380,24.775,3 2006.0,10345,HK Mutual Savings Bank,NaN,1.580,NaN,1
5,3.770,-2.540,22.290,6 2006,10345,HK Mutual Savings Bank,6.0,1.470,2006.0,1
0,6.005,-4.590,23.895,9 2006.0,10345,HK Mutual Savings Bank,NaN,3.045,NaN,1
6,8.240,-6.640,25.500,12 2006,10345,HK Mutual Savings Bank,12.0,4.620,2006.0,1
0,7.500,-5.505,20.525,3 2007.0,10345,HK Mutual Savings Bank,NaN,3.730,NaN,1
7,6.760,-4.370,15.550,6 2007,10345,HK Mutual Savings Bank,6.0,2.840,2007.0,1
0,7.415,-2.370,14.970,9 2007.0,10345,HK Mutual Savings Bank,NaN,3.335,NaN,1
8,8.070,-0.370,14.390,12 2007,10345,HK Mutual Savings Bank,12.0,3.830,2007.0,1
0,7.050,-0.025,14.260,3 2008.0,10345,HK Mutual Savings Bank,NaN,3.710,NaN,1
9,6.030,0.320,14.130,6 2008,10345,HK Mutual Savings Bank,6.0,3.590,2008.0,1
0,6.345,0.410,14.705,9 2008.0,10345,HK Mutual Savings Bank,NaN,3.890,NaN,0
10,6.660,0.500,15.280,12 2008,10345,HK Mutual Savings Bank,12.0,4.190,2008.0,0
0,7.835,0.415,17.790,3 2009.0,10345,HK Mutual Savings Bank,NaN,4.435,NaN,0
11,9.010,0.330,20.300,6 2009,10345,HK Mutual Savings Bank,6.0,4.680,2009.0,0
0,9.055,0.170,20.115,9 2009.0,10345,HK Mutual Savings Bank,NaN,4.980,NaN,0
12,9.100,0.010,19.930,12 2009,10345,HK Mutual Savings Bank,12.0,5.280,2009.0,0
0,9.420,0.395,17.810,3 2010.0,10345,HK Mutual Savings Bank,NaN,5.495,NaN,0
13,9.740,0.780,15.690,6 2010,10345,HK Mutual Savings Bank,6.0,5.710,2010.0,0
0,9.635,0.625,15.475,9 2010.0,10345,HK Mutual Savings Bank,NaN,5.990,NaN,0
14,9.530,0.470,15.260,12 2010,10345,HK Mutual Savings Bank,12.0,6.270,2010.0,0
0,9.395,0.275,13.040,3 2011.0,10345,HK Mutual Savings Bank,NaN,6.065,NaN,0
...,...,...,...,...,...,...,...,...,...,...
2983,16.550,-0.430,7.810,12 2013,13350,WELCOME SAVINGS BANK,12.0,7.670,2013.0,0
0,14.970,-1.200,8.635,3 2014.0,13350,WELCOME SAVINGS BANK,NaN,7.500,NaN,0
2984,13.390,-1.970,9.460,6 2014,13350,WELCOME SAVINGS BANK,6.0,7.330,2014.0,0
0,13.515,-0.770,8.260,9 2014.0,13350,WELCOME SAVINGS BANK,NaN,7.585,NaN,0
2985,13.640,0.430,7.060,12 2014,13350,WELCOME SAVINGS BANK,12.0,7.840,2014.0,0
0,13.815,1.170,6.320,3 2015.0,13350,WELCOME SAVINGS BANK,NaN,7.030,NaN,0
2986,13.990,1.910,5.580,6 2015,13350,WELCOME SAVINGS BANK,6.0,6.220,2015.0,0
0,14.310,1.680,6.030,9 2015.0,13350,WELCOME SAVINGS BANK,NaN,5.960,NaN,0
2987,14.630,1.450,6.480,12 2015,13350,WELCOME SAVINGS BANK,12.0,5.700,2015.0,0
2988,14.960,0.780,8.310,3 2016,13350,WELCOME SAVINGS BANK,3.0,6.990,2016.0,0
2989,15.000,1.100,9.710,6 2016,13350,WELCOME SAVINGS BANK,6.0,7.100,2016.0,0
2990,15.510,1.980,9.830,9 2016,13350,WELCOME SAVINGS BANK,9.0,7.600,2016.0,0
2991,14.010,2.130,9.490,12 2016,13350,WELCOME SAVINGS BANK,12.0,7.340,2016.0,0
2992,14.260,0.480,9.090,3 2017,13350,WELCOME SAVINGS BANK,3.0,7.500,2017.0,0
2994,14.290,-0.490,5.580,6 2013,13351,OK Savings Bank,6.0,5.490,2013.0,0
0,19.780,-0.420,9.150,9 2013.0,13351,OK Savings Bank,NaN,8.950,NaN,0
2995,25.270,-0.350,12.720,12 2013,13351,OK Savings Bank,12.0,12.410,2013.0,0
0,36.000,-0.925,21.600,3 2014.0,13351,OK Savings Bank,NaN,15.215,NaN,0
2996,46.730,-1.500,30.480,6 2014,13351,OK Savings Bank,6.0,18.020,2014.0,0
0,28.815,-2.145,18.820,9 2014.0,13351,OK Savings Bank,NaN,12.480,NaN,0
2997,10.900,-2.790,7.160,12 2014,13351,OK Savings Bank,12.0,6.940,2014.0,0
0,12.905,-2.220,6.995,3 2015.0,13351,OK Savings Bank,NaN,8.760,NaN,0
2998,14.910,-1.650,6.830,6 2015,13351,OK Savings Bank,6.0,10.580,2015.0,0
0,15.345,-0.660,7.570,9 2015.0,13351,OK Savings Bank,NaN,10.700,NaN,0
2999,15.780,0.330,8.310,12 2015,13351,OK Savings Bank,12.0,10.820,2015.0,0
3000,12.430,0.030,9.820,3 2016,13351,OK Savings Bank,3.0,9.020,2016.0,0
3001,15.010,0.820,9.330,6 2016,13351,OK Savings Bank,6.0,10.600,2016.0,0
3002,13.760,1.030,8.340,9 2016,13351,OK Savings Bank,9.0,9.660,2016.0,0
3003,12.400,0.300,9.590,12 2016,13351,OK Savings Bank,12.0,8.760,2016.0,0
3004,12.380,0.420,9.650,3 2017,13351,OK Savings Bank,3.0,9.420,2017.0,0

In [279]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn import cross_validation
from sklearn.metrics import precision_recall_fscore_support
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier

In [288]:
#get X, Y for training

X = final_data[['ROA', 'BIS', 'Yeoshin', 'self']]
Y = final_data['weak']

# seperate training and test set
X_train, X_test, y_train, y_test= cross_validation.train_test_split(X, Y, test_size = .4, random_state = 12345)

# normalizing

sc = StandardScaler()
sc.fit(X_train)
X_train= sc.transform(X_train)
X_test= sc.transform(X_test)

In [289]:

# start logistic regression training
lr = LogisticRegression(random_state = 1234, max_iter = 50)
lr.fit(X_train, y_train)

# show scores
print("train_score : ", lr.score(X_train, y_train))
print("test_score : ", lr.score(X_test, y_test))

y_test_pred = lr.predict(X_test)
y_train_pred = lr.predict(X_train)
test_accuracy = metrics.accuracy_score(y_test, y_test_pred)
train_accuracy = metrics.accuracy_score(y_train, y_train_pred)
print(test_accuracy, train_accuracy)

print("Classification report for test set...")
print(metrics.classification_report(y_test, y_test_pred))

print("Classification report for training set...")
print(metrics.classification_report(y_train, y_train_pred))

# 행:실제 분류   열: 분류기 분류
print("Confusion matrix for test set...")
print(metrics.confusion_matrix(y_test, y_test_pred))

print("Confusion matrix for training set...")
print(metrics.confusion_matrix(y_train, y_train_pred))

train_score :  0.940860215054
test_score :  0.9444971537
0.9444971537 0.940860215054
Classification report for test set...
             precision    recall  f1-score   support

          0       0.95      0.98      0.97      1678
          1       0.92      0.80      0.85       430

avg / total       0.94      0.94      0.94      2108

Classification report for training set...
             precision    recall  f1-score   support

          0       0.95      0.98      0.96      2461
          1       0.92      0.80      0.86       701

avg / total       0.94      0.94      0.94      3162

Confusion matrix for test set...
[[1647   31]
 [  86  344]]
Confusion matrix for training set...
[[2413   48]
 [ 139  562]]

In [290]:
# random forest training

rf = RandomForestClassifier(criterion="entropy", n_estimators=100, max_depth = 4,random_state = 0  )
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=4, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [291]:
# show scores
print("train_score : ", rf.score(X_train, y_train))
print("test_score : ", rf.score(X_test, y_test))

y_test_pred = rf.predict(X_test)
y_train_pred = rf.predict(X_train)
test_accuracy = metrics.accuracy_score(y_test, y_test_pred)
train_accuracy = metrics.accuracy_score(y_train, y_train_pred)
print(test_accuracy, train_accuracy)

print("Classification report for test set...")
print(metrics.classification_report(y_test, y_test_pred))

print("Classification report for training set...")
print(metrics.classification_report(y_train, y_train_pred))

# 행:실제 분류   열: 분류기 분류
print("Confusion matrix for test set...")
print(metrics.confusion_matrix(y_test, y_test_pred))

print("Confusion matrix for training set...")
print(metrics.confusion_matrix(y_train, y_train_pred))

train_score :  0.949399114485
test_score :  0.94734345351
0.94734345351 0.949399114485
Classification report for test set...
             precision    recall  f1-score   support

          0       0.96      0.98      0.97      1678
          1       0.91      0.83      0.86       430

avg / total       0.95      0.95      0.95      2108

Classification report for training set...
             precision    recall  f1-score   support

          0       0.96      0.98      0.97      2461
          1       0.92      0.84      0.88       701

avg / total       0.95      0.95      0.95      3162

Confusion matrix for test set...
[[1642   36]
 [  75  355]]
Confusion matrix for training set...
[[2410   51]
 [ 109  592]]

In [292]:
dt = DecisionTreeClassifier(criterion="entropy", max_depth=4, random_state = 1234)
dt.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=4,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=1234, splitter='best')

In [293]:
# show scores
print("train_score : ", dt.score(X_train, y_train))
print("test_score : ", dt.score(X_test, y_test))

y_test_pred = dt.predict(X_test)
y_train_pred = dt.predict(X_train)
test_accuracy = metrics.accuracy_score(y_test, y_test_pred)
train_accuracy = metrics.accuracy_score(y_train, y_train_pred)
print(test_accuracy, train_accuracy)

print("Classification report for test set...")
print(metrics.classification_report(y_test, y_test_pred))

print("Classification report for training set...")
print(metrics.classification_report(y_train, y_train_pred))

# 행:실제 분류   열: 분류기 분류
print("Confusion matrix for test set...")
print(metrics.confusion_matrix(y_test, y_test_pred))

print("Confusion matrix for training set...")
print(metrics.confusion_matrix(y_train, y_train_pred))

train_score :  0.950031625553
test_score :  0.943548387097
0.943548387097 0.950031625553
Classification report for test set...
             precision    recall  f1-score   support

          0       0.96      0.97      0.96      1678
          1       0.87      0.85      0.86       430

avg / total       0.94      0.94      0.94      2108

Classification report for training set...
             precision    recall  f1-score   support

          0       0.96      0.98      0.97      2461
          1       0.91      0.86      0.88       701

avg / total       0.95      0.95      0.95      3162

Confusion matrix for test set...
[[1625   53]
 [  66  364]]
Confusion matrix for training set...
[[2401   60]
 [  98  603]]

In [237]:
data_BIS

,"﻿""""",base_month,finance_cd,finance_nm,account_cd,account_nm,BIS
0,1,12 2013,12711,NH Savings Bank,SE016:G,BIS Capital Ratio,20.08
1,2,6 2014,12711,NH Savings Bank,SE016:G,BIS Capital Ratio,21.42
2,3,12 2014,12711,NH Savings Bank,SE016:G,BIS Capital Ratio,21.20
3,4,6 2015,12711,NH Savings Bank,SE016:G,BIS Capital Ratio,19.79
4,5,12 2015,12711,NH Savings Bank,SE016:G,BIS Capital Ratio,19.27
5,6,3 2016,12711,NH Savings Bank,SE016:G,BIS Capital Ratio,19.34
6,7,6 2016,12711,NH Savings Bank,SE016:G,BIS Capital Ratio,20.01
7,8,9 2016,12711,NH Savings Bank,SE016:G,BIS Capital Ratio,19.25
8,9,12 2016,12711,NH Savings Bank,SE016:G,BIS Capital Ratio,18.90
9,10,3 2017,12711,NH Savings Bank,SE016:G,BIS Capital Ratio,18.85
10,11,6 2017,12711,NH Savings Bank,SE016:G,BIS Capital Ratio,18.42
11,12,12 2013,12357,OK2 Savings Bank,SE016:G,BIS Capital Ratio,40.06
12,13,6 2014,12357,OK2 Savings Bank,SE016:G,BIS Capital Ratio,21.82
13,14,12 2013,10478,Gangwon Mutual Savings Bank,SE016:G,BIS Capital Ratio,8.39
14,15,6 2014,10478,Gangwon Mutual Savings Bank,SE016:G,BIS Capital Ratio,6.98
15,16,12 2014,10478,Gangwon Mutual Savings Bank,SE016:G,BIS Capital Ratio,8.05
16,17,6 2015,10478,Gangwon Mutual Savings Bank,SE016:G,BIS Capital Ratio,5.44
17,18,12 2015,10478,Gangwon Mutual Savings Bank,SE016:G,BIS Capital Ratio,8.93
18,19,3 2016,10478,Gangwon Mutual Savings Bank,SE016:G,BIS Capital Ratio,11.14
19,20,6 2016,10478,Gangwon Mutual Savings Bank,SE016:G,BIS Capital Ratio,10.40
20,21,9 2016,10478,Gangwon Mutual Savings Bank,SE016:G,BIS Capital Ratio,10.97
21,22,12 2016,10478,Gangwon Mutual Savings Bank,SE016:G,BIS Capital Ratio,12.32
22,23,3 2017,10478,Gangwon Mutual Savings Bank,SE016:G,BIS Capital Ratio,11.74
23,24,6 2017,10478,Gangwon Mutual Savings Bank,SE016:G,BIS Capital Ratio,11.68
24,25,12 2013,10390,Goryo Mutual Savings Bank,SE016:G,BIS Capital Ratio,20.02
25,26,6 2014,10390,Goryo Mutual Savings Bank,SE016:G,BIS Capital Ratio,21.26
26,27,12 2014,10390,Goryo Mutual Savings Bank,SE016:G,BIS Capital Ratio,18.99
27,28,6 2015,10390,Goryo Mutual Savings Bank,SE016:G,BIS Capital Ratio,19.46
28,29,12 2015,10390,Goryo Mutual Savings Bank,SE016:G,BIS Capital Ratio,19.89
29,30,3 2016,10390,Goryo Mutual Savings Bank,SE016:G,BIS Capital Ratio,18.58
...,...,...,...,...,...,...,...
2978,2979,12 2012,10388,hyundae Mutual Savings Bank,SE016:G,BIS Capital Ratio,4.13
2979,2980,6 2013,10388,hyundae Mutual Savings Bank,SE016:G,BIS Capital Ratio,17.45
2980,2981,12 2003,10546,Hongik Mutual Savings Bank,SE016:G,BIS Capital Ratio,6.17
2981,2982,6 2004,10546,Hongik Mutual Savings Bank,SE016:G,BIS Capital Ratio,6.06
2982,2983,12 2004,10546,Hongik Mutual Savings Bank,SE016:G,BIS Capital Ratio,6.44
2983,2984,6 2005,10546,Hongik Mutual Savings Bank,SE016:G,BIS Capital Ratio,6.66
2984,2985,12 2005,10546,Hongik Mutual Savings Bank,SE016:G,BIS Capital Ratio,7.02
2985,2986,6 2006,10546,Hongik Mutual Savings Bank,SE016:G,BIS Capital Ratio,6.97
2986,2987,12 2006,10546,Hongik Mutual Savings Bank,SE016:G,BIS Capital Ratio,-12.65
2987,2988,6 2007,10546,Hongik Mutual Savings Bank,SE016:G,BIS Capital Ratio,-52.62
2988,2989,12 2003,10416,Heungkook Mutual Savings Bank,SE016:G,BIS Capital Ratio,11.68
2989,2990,6 2004,10416,Heungkook Mutual Savings Bank,SE016:G,BIS Capital Ratio,12.87
2990,2991,12 2004,10416,Heungkook Mutual Savings Bank,SE016:G,BIS Capital Ratio,14.51
2991,2992,6 2005,10416,Heungkook Mutual Savings Bank,SE016:G,BIS Capital Ratio,17.12
2992,2993,12 2005,10416,Heungkook Mutual Savings Bank,SE016:G,BIS Capital Ratio,26.53
2993,2994,6 2006,10416,Heungkook Mutual Savings Bank,SE016:G,BIS Capital Ratio,36.30
2994,2995,12 2006,10416,Heungkook Mutual Savings Bank,SE016:G,BIS Capital Ratio,33.84
2995,2996,6 2007,10416,Heungkook Mutual Savings Bank,SE016:G,BIS Capital Ratio,28.64
2996,2997,12 2007,10416,Heungkook Mutual Savings Bank,SE016:G,BIS Capital Ratio,14.35
2997,2998,6 2008,10416,Heungkook Mutual Savings Bank,SE016:G,BIS Capital Ratio,10.87
2998,2999,12 2008,10416,Heungkook Mutual Savings Bank,SE016:G,BIS Capital Ratio,10.10
2999,3000,6 2009,10416,Heungkook Mutual Savings Bank,SE016:G,BIS Capital Ratio,9.44
3000,3001,12 2009,10416,Heungkook Mutual Savings Bank,SE016:G,BIS Capital Ratio,8.36
3001,3002,6 2010,10416,Heungkook Mutual Savings Bank,SE016:G,BIS Capital Ratio,9.47
3002,3003,12 2010,10416,Heungkook Mutual Savings Bank,SE016:G,BIS Capital Ratio,10.23
3003,3004,6 2011,10416,Heungkook Mutual Savings Bank,SE016:G,BIS Capital Ratio,8.04
3004,3005,12 2011,10416,Heungkook Mutual Savings Bank,SE016:G,BIS Capital Ratio,8.50
3005,3006,6 2012,10416,Heungkook Mutual Savings Bank,SE016:G,BIS Capital Ratio,9.40
3006,3007,12 2012,10416,Heungkook Mutual Savings Bank,SE016:G,BIS Capital Ratio,7.08
3007,3008,6 2013,10416,Heungkook Mutual Savings Bank,SE016:G,BIS Capital Ratio,6.90

IndexError: single positional indexer is out-of-bounds